.marks-table {
  overflow: auto;
  table {
    // width: 100%;
    td {
      vertical-align: middle !important;
      padding: 0.5rem !important;
      &.editing {
        padding: 0 !important;
        input {
          padding: 1rem;
          width: 100% !important;
          height: 31px !important;
          border: 1px solid rgb(33, 133, 208) !important;
        }
      }
    }
  }
}
