@import '_metronic/_assets/sass/components/_variables.bootstrap.scss';

.menu-container {
  margin-top: 1rem;

  .menu-item {
    display: block;
    font-size: 1.25rem;
    padding: 0.5rem 1rem;
    background-color: $gray-100;
    border-radius: 0.42rem;
    color: $dark;

    &:not(:first-child) {
      margin-top: 0.75rem;
    }

    &.active {
      background-color: $primary;
      color: $light;
    }
  }
}
