name: CI

on:
  workflow_dispatch:
  # push:
  #   branches:
  #     - '*'
  #     - '!develop'
  #     - '!master'
  pull_request:
    branches:
      - master
      - develop

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [12.x, 14.x]
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          ref: ${{ github.event.pull_request.head.sha }}
      - name: Setup Environment (Node.js ${{ matrix.node-version }})
        uses: actions/setup-node@v2-beta
        with:
          node-version: ${{ matrix.node-version }}
      - name: Cache dependencies
        uses: actions/cache@v2
        id: cache-dependencies
        with:
          path: '**/node_modules'
          key: node_modules-${{ runner.os }}-node v${{ matrix.node-version }}-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            node_modules-${{ runner.os }}-node v${{ matrix.node-version }}-
            node_modules-${{ runner.os }}-node v
            node_modules-
      - name: Install dependencies
        if: steps.cache-dependencies.outputs.cache-hit != 'true'
        run: yarn
        env:
          CI: true
      - name: Lint and test
        run: |
          yarn lint
          yarn test:coverage
        env:
          CI: true
      - name: Report test coverage to DeepSource # Migrate to deepsourcelabs/test-coverage-action?
        run: |
          curl https://deepsource.io/cli | sh
          ./bin/deepsource report --analyzer test-coverage --key javascript --value-file ./coverage/cobertura-coverage.xml
        env:
          DEEPSOURCE_DSN: ${{ secrets.DEEPSOURCE_DSN }}
      - name: Report test coverage to Codecov # Migrate to codecov/codecov-action?
        run: |
          bash <(curl -s https://codecov.io/bash)
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
